.main {
    width: 24.3125rem;
    border: 1px solid #D2E1F5;
    border-radius: 4px;
    padding: 9px;
    display: flex;
}

@media screen and (max-width: 1024px) {
    .main {
        padding: 6px;
    }
}

@media screen and (max-width: 910px) {
    .main {
        display: none;
    }
}